.oe-base-gantt-timeframe.active{background-color: #ffbf00 !important;}
.oe_base_gantt_color_0 {fill: #a3a3ff !important;}
.oe_base_gantt_color_1 {fill: #F06050 !important;}
.oe_base_gantt_color_2 {fill: #F4A460 !important;}
.oe_base_gantt_color_3 {fill:#F7CD1F !important;}
.oe_base_gantt_color_4 {fill:#6CC1ED !important;}
.oe_base_gantt_color_5 {fill:#814968 !important;}
.oe_base_gantt_color_6 {fill:#EB7E7F !important;}
.oe_base_gantt_color_7 {fill:#2C8397 !important;}
.oe_base_gantt_color_8 {fill:#475577 !important;}
.oe_base_gantt_color_9 {fill:#D6145F !important;}
.oe_base_gantt_color_10 {fill:#30C381 !important;}
.oe_base_gantt_color_11 {fill:#9365B8 !important;}