.ko-offers-list-container {
    font-size: 12px;
}

.ko-offers-list-container table {
    table-layout: fixed !important;
    width: 100% !important;
}

.ko-offers-list-container th,
.ko-offers-list-container td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px !important;
}

.ko-offers-list-container td,
.ko-offers-list-container th {
    padding: 3px !important;
    min-height: 22px !important;
    vertical-align: middle !important;
}

.ko-offers-list-container .o-checkbox.form-check {
    min-height: 1rem !important;
    margin-bottom: 0px !important;
}

.ko-offers-list-container tr > :first-child{
    max-width: 30px !important;
    text-align: center !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ko-offers-list-container p {
    padding: 0px !important;
    margin: 0px !important;
}

.ko-offers-list-container th[data-name="repr_html_total_price"],
.ko-offers-list-container td[name="repr_html_total_price"] {
    text-align: right !important;
    padding-right: 15px !important;
    max-width: 150px !important;
}

.ko-offers-list-container tr th[data-name="document_in_out_type"] {
    max-width: 78px !important
}

.ko-offers-list-container tr th[data-name="name"] {
    max-width: 168px !important
}

.ko-offers-list-container tr th[data-name="code_id"] {
    max-width: 110px !important
}

.ko-offers-list-container tr th[data-name="subject"] {
    max-width: 300px !important
}

.ko-offers-list-container tr th[data-name="repr_dates"] {
    max-width: 150px !important
}

.ko-offers-list-container tr.text-muted {
    opacity: 0.5;
    color: #6c757d !important;
}